{% extends 'database/base.html' %}
{% load static %}

{% block _title %}Record{% endblock %}

{% block content %}
<div class="container">

  <!-- Nav helper -->
  <div class="bs-example">
    <ul class="breadcrumb">
      <span class="glyphicon glyphicon-home"></span>
      <li>
        <a href="{% url 'database:index' %}">
        	Home
        </a>
      </li>
      <li>
        <a href="{% url 'database:searcher' %}">
          Search
        </a>
      </li>
      <li class="active">
        {{ name }}
      </li>
      <span data-toggle="popover" class="glyphicon glyphicon-question-sign glyphicon-help pull-right" title="Record" data-content="On this page you see a specific record from database and check the structure of a riboswitch." data-trigger="hover" data-placement="left"></span>
    </ul>
  </div>

  <div class="panel panel-default" id="record-panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#structurePanel">
        Structure
        </a>
        <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#structurePanel">
        <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
      </h4>
    </div>
    <div id="structurePanel" class="panel-collapse collapse in">
      <div class="panel-body">
          <div id="ribo" style="border-color: grey;">
            <div data-toggle="popover" data-html="true" class="feat-ribo" id="promoter" title="Promoter" data-content="Start: {{promoter_start}}<br>End: {{promoter_end}}" data-trigger="hover" data-placement="bottom" class="feat-ribo" style="left: {{promoter_left}}%; width: {{promoter_width}}%; background-color: blue; height: 100%;">
              
            </div>
            <div data-toggle="popover" data-html="true" class="feat-ribo" id="aptamer" title="Aptamer" data-content="Start: {{aptamer_start}}<br>End: {{aptamer_end}}" data-trigger="hover" data-placement="bottom" style="left: {{aptamer_left}}%; width: {{aptamer_width}}%; background-color: green; height: 100%;">
              
            </div>
            <div data-toggle="popover" data-html="true" class="feat-ribo" id="terminator" title="Terminator" data-content="Start: {{terminator_start}}<br>End: {{terminator_end}}" data-trigger="hover" data-placement="bottom" class="feat-ribo" style="left: {{terminator_left}}%; width: {{terminator_width}}%; background-color: red; height: 100%;">
              
            </div>
            <div data-toggle="popover" data-html="true" class="feat-ribo" id="aug" title="AUG" data-content="Start: {{aug_start}}<br>End: {{aug_end}}" data-trigger="hover" data-placement="bottom" class="feat-ribo" style="left: {{aug_left}}%; width: {{aug_width}}%; background-color: black; height: 100%;">
              
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" id="record-panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#browsePanel">
        Record <strong>{{name}}</strong>
        </a>
        <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion2" href="#browsePanel">
        <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
      </h4>
    </div>
    <div id="browsePanel" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-bordered table-hover" style="table-layout: fixed; width: 100%">
          <tbody>
            {% for i in l %}
              {% for key, value in i.items %}
              <tr>
                <td><strong>{{ key }}</strong></td>
                <td style="word-wrap: break-word">{{ value }}</td>
              </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_plugins %}
<script>
$("#promoter").popover();
$("#terminator").popover();
$("#aptamer").popover();
$("#aug").popover();
$(".glyphicon-question-sign").popover();
</script>
{% endblock %}