{% extends 'database/base.html' %}
{% load static %}

{% block _title %}Record{% endblock %}

{% block content %}
<div class="container">

  <!-- Nav helper -->
  <div class="bs-example">
    <ul class="breadcrumb">
      <span class="glyphicon glyphicon-home"></span>
      <li>
        <a href="{% url 'database:index' %}">
        	Home
        </a>
      </li>
      <li>
        <a href="{% url 'database:searcher' %}">
          Search
        </a>
      </li>
      <li class="active">
        {{ name }}
      </li>
      <span data-toggle="popover" class="glyphicon glyphicon-question-sign glyphicon-help pull-right" title="Record" data-content="On this page you see a specific record from database and check the structure of a riboswitch." data-trigger="hover" data-placement="left"></span>
    </ul>
  </div>

  <div class="panel panel-default" id="record-panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#structurePanel">
        Structure
        </a>
        <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#structurePanel">
        <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
      </h4>
    </div>
    <div id="structurePanel" class="panel-collapse collapse in">
      <div class="row">
        <div class="container">
          <div class="panel-body">
              <div id="ribo" style="border-color: grey;">
                <div data-toggle="popover" data-html="true" class="feat-ribo" id="promoter" title="Promoter" data-content="Start: {{promoter_start}}<br>End: {{promoter_end}}<br>Score: {{promoter_score}}" data-trigger="hover" data-placement="bottom" class="feat-ribo" style="left: {{promoter_left}}%; width: {{promoter_width}}%; background-color: #609dff; height: 100%;">
                  
                </div>
                <div data-toggle="popover" data-html="true" class="feat-ribo" id="aptamer" title="Aptamer" data-content="Start: {{aptamer_start}}<br>End: {{aptamer_end}}<br>Score: {{aptamer_score}}" data-trigger="hover" data-placement="bottom" style="left: {{aptamer_left}}%; width: {{aptamer_width}}%; background-color: #70ad77; height: 100%;">
                  
                </div>
                <div data-toggle="popover" data-html="true" class="feat-ribo" id="terminator" title="Terminator" data-content="Start: {{terminator_start}}<br>End: {{terminator_end}}<br>Score: {{terminator_score}}" data-trigger="hover" data-placement="bottom" class="feat-ribo" style="left: {{terminator_left}}%; width: {{terminator_width}}%; background-color: #ff3838; height: 100%;">
                  
                </div>
                <div data-toggle="popover" data-html="true" class="feat-ribo" id="terminator" title="Shine-Dalgarno" data-content="Start: {{shine_start}}<br>End: {{shine_end}}<br>Score: {{shine_score}}" data-trigger="hover" data-placement="bottom" class="feat-ribo" style="left: {{shine_left}}%; width: {{shine_width}}%; background-color: #fff94c; height: 100%;">
                  
                </div>
                <div data-toggle="popover" data-html="true" class="feat-ribo" id="aug" title="AUG" data-content="Start: {{aug_start}}<br>End: {{aug_end}}" data-trigger="hover" data-placement="bottom" class="feat-ribo" style="left: {{aug_left}}%; width: {{aug_width}}%; background-color: #b564fc; height: 100%;">
                  
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container" style="text-align: center; width: 100%;">
          <div style="margin-right: 5%; display: inline-block;">
            <div style="width: 20px; height: 20px; background-color: #609dff; border-radius: 50%; display: inline-block;"></div><p>Promoter</p>
          </div>
          <div style="margin-right: 5%; display: inline-block;">
            <div style="width: 20px; height: 20px; background-color: #70ad77; border-radius: 50%; display: inline-block;"></div><p>Aptamer</p>
          </div>
          <div style="margin-right: 5%; display: inline-block;">
            <div style="width: 20px; height: 20px; background-color: #ff3838; border-radius: 50%; display: inline-block;"></div><p>Terminator</p>
          </div>
          <div style="margin-right: 5%; display: inline-block;">
            <div style="width: 20px; height: 20px; background-color: #fff94c; border-radius: 50%; display: inline-block;"></div><p>Shine-Dalgarno</p>
          </div>
          <div style="display: inline-block;">
            <div style="width: 20px; height: 20px; background-color: #b564fc; border-radius: 50%; display: inline-block;"></div><p>AUG</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" id="record-panel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion2" href="#browsePanel">
        Record <strong>{{name}}</strong>
        </a>
        <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion2" href="#browsePanel">
        <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
      </h4>
    </div>
    <div id="browsePanel" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-bordered table-hover" style="table-layout: fixed; width: 100%">
          <tbody>
            {% for i in l %}
              {% for key, value in i.items %}
              <tr>
                <td style="width: 300px;"><strong>{{ key }}</strong></td>
                <td style="word-wrap: break-word">{{ value }}</td>
              </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_plugins %}
<script>
$("#promoter").popover();
$("#terminator").popover();
$("#aptamer").popover();
$("#aug").popover();
$(".glyphicon-question-sign").popover();
</script>
{% endblock %}