{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RiboDB | {% block _title %} {% endblock %}</title>
    
    <!-- Custom css -->
    <link href="{% static "database/css/custom.css" %}" rel="stylesheet"> 
    <!-- Bootstrap -->
    <link href="{% static "database/plugins/bootstrap/styles/bootstrap.css" %}" rel="stylesheet">
    <!-- font-awesome icons -->
    <link href="{% static "database/css/font-awesome.css" %}" rel="stylesheet" type="text/css" >
    <!-- Roboto google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    {% block css_plugins %}
    {% endblock %}
  
  </head>
  <body>
  
    <!-- Document wrapper -->
    <div id="wrapper">

      <!-- Navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="{% url 'database:index' %}">RiboDB</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'database:searcher' %}">Search</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'database:ligand_browser' %}">By ligand</a></li>
                  <li><a href="{% url 'database:organism_browser' %}">By organism</a></li>
                  <li><a href="{% url 'database:class_family_browser' %}">By class/family</a></li>
                </ul>
              </li>
              <li><a href="{% url 'database:about' %}" id="about">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End navbar -->

      <!-- Main contet from other templates -->
      <main class="fade-out">
        {% block content %}
           
        {% endblock %}
      <main>
      <!-- End content -->

      <!-- Footer -->
      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <p class="text-muted">2017 &copy; Combio</p>
            </div>
          </div>
        </div>
      </footer> 
      <!-- End footer -->

    </div>
    <!-- End wrapper -->


    <!-- jQuery required before Bootstrap.js -->
    <script src="{% static "database/js/jquery-3.2.1.min.js" %}"></script>

    <!-- Custom js script -->
    <script src="{% static "database/js/custom.js" %}"></script>

    <!-- Basic scripts -->
    <script src="{% static "database/plugins/bootstrap/scripts/bootstrap.min.js" %}"></script>

    <!-- Specific plugins for particular site -->
    {% block js_plugins %}
    {% endblock %}
    
  </body>
</html>