{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RiboDB | {% block _title %} {% endblock %}</title>

    <!-- own css -->
    <link href="{% static "database/css/style.css" %}" rel="stylesheet"> 
    <!-- Bootstrap -->
    <link href="{% static "database/css/bootstrap.css" %}" rel="stylesheet">
    <!-- dataTables for Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "database/css/dataTables.bootstrap.min.css" %}">
    <!-- font-awesome icons -->
    <link href="{% static "database/css/font-awesome.css" %}" rel="stylesheet" type="text/css" >


  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="{% url 'database:index' %}">RiboDB</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'database:searcher' %}">Search</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'database:ligand_browser' %}">By ligand</a></li>
                  <li><a href="{% url 'database:organism_browser' %}">By organism</a></li>
                  <li><a href="{% url 'database:family_browser' %}">By class/family</a></li>
                </ul>
              </li>
              <li><a href="#" id="about">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      {% block content %} 

      {% endblock %}

       <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                  <p class="text-muted">2017 &copy; Combio</p>
                </div>
            </div>
          </div>
        </footer>
    </div>

    <!-- jQuery required before Bootstrap.js -->
    <script src="{% static "database/js/jquery-1.12.4.min.js" %}"></script>

    <!-- Own js script -->
    <script src="{% static "database/js/tables.js" %}"></script>
    
    <script src="{% static "database/js/datatables.min.js" %}"></script>
    <script src="{% static "database/js/bootstrap.min.js" %}"></script>
  </body>
</html>