{% extends 'database/base.html' %}
{% load static %}

{% block _title %}
  Details
{% endblock %}

{% block css_plugins %}
<!-- dataTables for Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static "database/plugins/datatables/styles/datatables.bootstrap.min.css" %}">
{% endblock %}

{% block content %}

<div class="container">

  <!-- Nav helper -->
  <div class="bs-example">
    <ul class="breadcrumb">
      <span class="glyphicon glyphicon-home"></span>
      <li><a href="{% url 'database:index' %}">Home</a></li>
      <li class="active">Browse</li>
      <li class="active">By class/family</li>
      <span data-toggle="popover" class="glyphicon glyphicon-question-sign glyphicon-help pull-right" title="Class/family browsing results" data-content="On this page you see a table of riboswitches, which are results of your browsing." data-trigger="hover" data-placement="left"></span>
    </ul>
  </div>

  <div class="dataTables wrapper form-inline dt-bootstrap no-footer">
    <div class="col-xs-12" id="table_wrapper">
      <table id="family-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Organisms</th>
          </tr>
        </thead>
        <tbody>
          {% for detail in families_list %}
            <tr role="row">
              <td><a href="{% url 'database:organism_details' detail %}">{{ detail }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}

{% block js_plugins %}
<script src="{% static "database/plugins/datatables/scripts/datatables.min.js" %}"></script>
<script src="{% static "database/plugins/datatables/scripts/datatables_custom.js" %}"></script>
<script>$(".glyphicon-question-sign").popover();</script>
{% endblock %}