{% extends 'database/base.html' %}
{% load static %}

{% block _title %}
  Details
{% endblock %}

{% block content %}
  <div class="container">

    <!-- Loop through a list of dicts -->
    {% for class in result %}
      <div class="panel panel-default">
        <div class="panel-body"> 
          Klasa: {{ class.name }} <br>
          Rodziny:
          
          <!-- Loop through all the families --> 
          {% for family in class.families %}
            <ul>
              <li>{{ family }}</li>
            </ul>
          {% endfor %}
          <!-- End loop -->

        </div>
      </div>
    {% endfor %}
    <!-- End loop -->

  </div>
{% endblock %}