{% extends 'database/base.html' %}
{% load static %}

{% block _title %}
  Home
{% endblock %}

{% block css_plugins %}
<link rel="stylesheet" href="{% static 'search/plugins/typeahead-js/typeahead.css' %}">
{% endblock %}


{% block content %}
  
  <div class="container">
    <div class="row">
      <div id="bck-img">

      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container" id="search-field">
      <div class="col-xs-12">
        <form method="get" action="/search/">
          <div class="input-group input-group-lg" id="test">
            <input type="text" class="typeahead form-control" placeholder="Search for..." id="quicksearch" name="quicksearch" autocomplete="off" />
            <span class="input-group-btn">
              <input type="submit" class="btn btn-default" value="Go!">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-5">
            Riboswitches database
            <ul>
              <li>This</li>
              <li>is</li>
              <li>a</li>
              <li>basic</li>
              <li>info</li>
            </ul>
          </div>
          <div class="col-xs-7 text-center">
            <p>Tutaj moze jakas fajna fotke strzelimy</p>
            <img src="https://cdn.rcsb.org/pdb101/motm/images/mom130-1u8d.jpg" style="height: 300px; width:auto;"/>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js_plugins %}
<script src="{% static 'search/plugins/typeahead-js/bloodhound.min.js' %}"></script>
<script src="{% static 'search/plugins/typeahead-js/typeahead.jquery.min.js' %}"></script>
<script src="{% static 'search/js/quicksearch.js' %}"></script>

<script> var ROOT_URL = "{% url 'search:index' %}"; </script>

<script>
  $(document).ready(function() {
    Quicksearch.init()
  });
</script>

{% endblock %}