{% extends 'database/base.html' %}
{% load static %}

{% block _title %}
  Browse
{% endblock %}

{% block content %}

<div class="container">
	
	<div class="bs-example">
	    <ul class="breadcrumb">
	        <li><a href="{% url 'database:index' %}">Home</a></li>
	        <li class="active">Browse</li>
	        <li class="active">By ligand</li>
	    </ul>
	</div>

	<div class="ligand-filter">
		<a href="#" data-filter="*">all</a>
		<a href="#" data-filter=".alanine">alanine</a>
		<a href="#" data-filter=".glycine">glycine</a>
	</div>

	<div class="ligand-container">

	{% for ligand in ligand_list %}
	
		<div class="col-xs-4 grid-item" style="padding: 1px !important;">
			<div class="panel panel-default">
				<div class="panel-heading text-center ligand-name">{{ ligand.name }} </div>
		  		<div class="panel-body">
					<a href="{% url 'database:ligand_detail' ligand.name %}">
						<img class="ligand-img" src="{% static "database/images/" %}{{ ligand.image_name }}">
					</a>
		  		</div>
			</div>
		</div>

	{% endfor %}

	</div>

</div>



{% endblock %}

{% block js_plugins %}
<!-- isotope script -->
<script src="{% static "database/plugins/isotope/isotope.pkgd.min.js" %}"></script>
{% endblock %}
