{% extends 'database/base.html' %}
{% load static %}

{% block _title %}
  Details
{% endblock %}

{% block content %}
		<div class="container">
			<div id="table_wrapper" class="dataTables wrapper form-inline dt-bootstrap no-footer">
				<div class="col-xs-12">
					<table id="ligand-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Gene</th>
								<th>Organism</th>
								<th>Ligand</th>
							</tr>
						</thead>
							<tbody>
							{% for rr in recordList %}
								<tr role="row">
									<td>{{ rr.gene }}</td>
									<td>{{ rr.organism }}</td>
									<td>{{ rr.ligand }}</td>
								</tr>
							{% endfor %}
							</tbody>
					</table>
				</div>
	
			</div>
		</div>

{% endblock %}