{% extends 'database/base.html' %}
{% load static %}

{% block _title %}
  Details
{% endblock %}

{% block css_plugins %}
<!-- dataTables for Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static "database/plugins/datatables/styles/datatables.bootstrap.min.css" %}">
{% endblock %}

{% block content %}

	<div class="container">
		  <!-- Nav helper -->
		  <div class="bs-example">
		      <ul class="breadcrumb">
		      	<span class="glyphicon glyphicon-home"></span>
		          <li><a href="{% url 'database:index' %}">Home</a></li>
		          <li class="active">Browse</li>
		          <li><a href="{% url 'database:ligand_browser' %}">By ligand</a></li>
		          <li class="active">{{ name }}</li>
		      </ul>
		  </div>
			
		
			<div class="dataTables wrapper form-inline dt-bootstrap no-footer">
				<div class="col-xs-12" id="table_wrapper" >
					<table id="ligand-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Riboswitch</th>
							</tr>
						</thead>
							<tbody>
							{% for rr in recordList %}
								<tr role="row">
									<td><a href="{% url 'search:record' rr.name %}">{{ rr.name }}</a></td>
								</tr>
							{% endfor %}
							</tbody>
					</table>
				</div>
	
			</div>
		</div>

{% endblock %}

{% block js_plugins %}
<script src="{% static "database/plugins/datatables/scripts/datatables.min.js" %}"></script>
<script src="{% static "database/plugins/datatables/scripts/datatables_custom.js" %}"></script>
{% endblock %}