{% extends 'database/base.html' %}
{% load static %}

{% block _title %}
  Browse
{% endblock %}

{% block content %}

<div class="container">
  
  <!-- Nav helper -->
  <div class="bs-example">
      <ul class="breadcrumb">
          <li><a href="{% url 'database:index' %}">Home</a></li>
          <li class="active">Browse</li>
          <li class="active">By ligand</li>
      </ul>
  </div>

  <!-- Menu for managing the isotope filtering -->
  <div class="ligand-filter">
    <ul>
      <li data-filter="*">all</li>
      <li data-filter=".alanine">alanine</li>
      <li data-filter=".glycine">glycine</li>
    </ul>
  </div>

  <div class="ligand-container">

  {% for ligand in ligand_list %}
  
      <div class="item {{ligand.name}} panel panel-default">
        <div class="panel-heading text-center ligand-name">
          {{ ligand.name }} 
        </div>
        <div class="panel-body grid-item">
          <a href="{% url 'database:ligand_details' ligand.name %}">
            <img class="ligand-img" src="{% static "database/images/" %}{{ ligand.image_name }}">
          </a>
        </div>
      </div>

  {% endfor %}
  
  </div>

</div>



{% endblock %}

{% block js_plugins %}
<!-- isotope script -->
<script src="{% static "database/plugins/isotope/isotope.pkgd.min.js" %}"></script>
<script src="{% static "database/plugins/jstree/scripts/isotope_custom.js" %}"></script>
{% endblock %}
