{% extends 'database/base.html' %}
{% load static %}

{% block _title %}
  Browse
{% endblock %}

{% block css_plugins %}
<!-- Js tree styles -->
<link href="{% static "database/plugins/jstree/themes/default/style_jstree.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<script src="{% static "database/js/jquery-1.12.4.min.js" %}"></script>

<div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h4 class="panel-title">
	            <a data-toggle="collapse" data-parent="#accordion" href="#filterPanel">Browse organisms</a>
	            <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" href="#filterPanel">
	                <i class="glyphicon glyphicon-chevron-down"></i>
	            </span>
	        </h4>
	    </div>
	    <div id="filterPanel" class="panel-collapse collapse in">
	        <div class="panel-body">
	            <!-- Start of jstree list -->
	              <div id="jstree-organism">



	              </div>  
	              <!-- End of jstree list -->  





	        </div>
	    </div>
	</div>
</div>

<script>

$(document).ready(function() {

    $('#jstree-organism').jstree(
        {{ d|safe }}
    );
});


</script>

{% endblock %}

{% block js_plugins %}
<!-- jstree script -->
<script src="{% static "database/plugins/jstree/scripts/jstree.min.js" %}"></script>
<script src="{% static "database/plugins/jstree/scripts/jstree_custom.js" %}"></script>
{% endblock %}

