{% extends 'database/base.html' %}
{% load static %}

{% block _title %}Search{% endblock %}

{% block css_plugins %}
<!-- dataTables for Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static "database/plugins/datatables/styles/datatables.bootstrap.min.css" %}">
{% endblock %}

{% block content %}
<div class="container">
  <!-- Nav helper -->
  <div class="bs-example">
    <ul class="breadcrumb">
      <li>
        <span class="glyphicon glyphicon-home"></span>
        <a href="{% url 'database:index' %}">
          Home
        </a>
      </li>
      <li class="active">
        Search
      </li>
    </ul>
  </div>

  <!-- <div id="table_wrapper" class="dataTables wrapper form-inline dt-bootstrap"> -->
    <div class="col-xs-12" id="table_wrapper">
      <table id="search-table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Riboswitch</th>
            <th>Ligand</th>
            <th>Organism</th>
          </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Ligand</th>
                <th>Organism</th>
            </tr>
        </tfoot>
        <tbody>
        {% for rr in recordList %}
          <tr role="row">
            <td><a href="{% url 'search:record' rr.name %}">{{ rr.name }}</a></td>
            <td>{{ rr.ligand }}</td>
            <td>{{ rr.organism }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  <!-- </div> -->


</div>

{% endblock %}

{% block js_plugins %}
<script src="{% static "database/plugins/datatables/scripts/datatables.min.js" %}"></script>
<script src="{% static "database/js/datatables_search.js" %}"></script>
{% endblock %}