<div class="jumbotron">
    <div class="container" id="search-field">
      <div class="col-xs-10 col-xs-offset-1">
      <form method="get" action="/search/">
        <div class="input-group input-group-lg" id="test">
          <input type="text" class="typeahead form-control" placeholder="Search for..." id="quicksearch" name="quicksearch" autocomplete="off" />
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default" value="Go!">
          </span>
        </div>
      </form>
      </div>
    </div>
  </div>