/* Elements are in three sections: HTML tags, classes and IDs.
   They are sorted alphabetically in every section */

/***** HTML tags *****/

html {
   height: 100%;
}

body {
    padding-top: 60px;
    height: 100%;
}

div.jumbotron {
    background-color: white !important;
    padding-bottom: 0px;
}

main {
    opacity: 1;
    transition: 0.3s opacity;
}

main.fade-out {
    opacity: 0;
    transition: none;
}

/***** End of HTML tags *****/

/***** Classes *****/
.badge.progress-bar-success {
    background-color: #70ad77 !important;
    float: right;
    margin-top: 3px;
}

/* Figures on the end of index page */
.bottom-blocks {
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    min-width: 250px;
    max-width: 310px;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #70ad77;
    color: #54845a;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.bottom-blocks *,
.bottom-blocks *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.bottom-blocks figcaption {
    padding: 12% 10% 14%;
}
.bottom-blocks i {
    font-size: 54px;
    color: #fff;
    width: 80px;
    line-height: 80px;
    background-color: #70ad77;
    border-radius: 50%;
    padding: 0;
    margin: 0 0 10px;
    text-align: center;
    display: inline-block;
}
.bottom-blocks h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0;
}
.bottom-blocks p {
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 0 20px;
}
.bottom-blocks .button {
    text-decoration: none;
    color: #777;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.bottom-blocks .button:before {
    background-color: #70ad77;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: 0;
}
.bottom-blocks .button:hover {
    color: #fff;
}
.bottom-blocks .button:hover:before {
    top: 0;
    opacity: 1;
}

.fa-folder-o {
    font-size: 19px !important;
}

.fa-folder-open-o {
    font-size: 19px !important;
}

.grid-item {
    padding: 1px !important;
}

.jstree-anchor {
    width: 85px !important;
}

.ligand-img {
    box-shadow: 0;
    transition: box-shadow 0.4s;
    transition: -webkit-filter: grayscale(100%) 0.4s;
    transition: opacity 0.4s;
    width: 100%;
    height: auto;
}

.ligand-img:hover {
    -webkit-filter: grayscale(100%);
    opacity: 0.8;
}

.ligand-name {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.ligand-filter ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #5274a9;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.ligand-filter ul li:hover {
    background: #5274a9;
    color: #fff;
}

.panel-collapse-clickable {
    cursor: pointer;  
}

/***** End of classes *****/

/***** IDs *****/

/* Advanced search button - under the search bar */
#advanced-search-btn {
    padding-top: 10px;
}

/* Always on the bottom of the site */
#footer {
    background-color: #eaecef;
    position:absolute;
    bottom:0;
    width:100%;
}

#hamburger {
    color: white;
}

#ligands-filter {
    position: relative;
    margin: 0 0 40px 0;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.07);
    float: left;
    border-radius: 4px;
}

#lorem {
    padding-bottom: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
}

#notes {
    padding-bottom: 60px;
}

#search-field {
    padding-top: 80px;
    padding-bottom: 50px;
}

#wrapper {
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

/***** End of IDs *****/