/* Elements are in three sections: HTML tags, classes and IDs.
   They are sorted alphabetically in every section */

/***** HTML tags *****/

html {
   height: 100%;
}

body {
    padding-top: 60px;
    height: 100%;
}

div.jumbotron {
    background-color: white !important;
    padding-bottom: 0px;
}

main {
    opacity: 1;
    transition: 0.3s opacity;
}

main.fade-out {
    opacity: 0;
    transition: none;
}

/***** End of HTML tags *****/

/***** Classes *****/
.badge.progress-bar-success {
    background-color: #70ad77 !important;
    float: right;
    margin-top: 3px;
    margin-left: 5px;
}

.fa-folder-o {
    font-size: 19px !important;
}

.fa-folder-open-o {
    font-size: 19px !important;
}

.jstree-anchor:hover {
    background-color: #e8eff7 !important;
}

.ligand-img {
    box-shadow: 0;
    transition: box-shadow 0.4s;
    transition: -webkit-filter: grayscale(100%) 0.4s;
    transition: opacity 0.4s;
    height: 300px;
    width: 300px;
}

.ligand-img:hover {
    -webkit-filter: grayscale(100%);
    opacity: 0.8;
}

.ligand-name {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.ligand-filter ul {
    padding-left: 0;
}

.ligand-filter ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #727272;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
.ligand-filter ul li:hover {
    background: #70ad77;
    color: #fff;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > 
.active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #70ad77 !important;
    border-color: #70ad77 !important;
}

.panel-collapse-clickable {
    cursor: pointer;  
}

.panel.panel-default {
    margin-right: 12px;
    margin-bottom: 12px;
}

.search-header {
    margin-left: 10px;
}

/***** End of classes *****/

/***** IDs *****/

/* Advanced search button - under the search bar */
#advanced-search-btn {
    padding-top: 10px;
}

/* Always on the bottom of the site */
#footer {
    background-color: #eaecef;
    position:absolute;
    bottom:0;
    width:100%;
}

#hamburger {
    color: white;
}

#ligands-filter {
    position: relative;
    margin: 0 0 40px 0;
    list-style: none;
    border: 1px solid rgba(0,0,0,0.07);
    float: left;
    border-radius: 4px;
}

#lorem {
    padding-bottom: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
}

#middle-checkbox {
    margin-left: 10px; 
    margin-right: 10px;
}

#quicksearch {
    height: 46px;
    font-size: 20px;
}

#record-panel {
    margin-right: 0;
}

#search-field {
    padding-top: 80px;
    padding-bottom: 50px;
}

#panel-search-results {
    margin: 0 !important;
    margin-top: 5% !important;
}

#panel-search-results .panel-body:hover {
    background-color: rgb(179, 214, 185);
}

#panel-search-results a {
    text-decoration: none;
    color: #333;
}

#wrapper {
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

/***** End of IDs *****/